.main-header .header-top .top-left{
    height: 28px ;
    padding: 3px 0px ;
}


.main-header .header-upper{
    height: 64px;
}
.main-header .header-upper .logo-outer{
    padding-bottom:14px ;
}
.main-header .elementskit-navbar-nav > li{
    padding: 8px 26px;
}
.logo img{
    width: 100%;
    height: 60px;
}
.owl-height{
    height: 500px !important;
}
.container-fluid .outer-section .left-column .inner-column:before{
    display: none;
}
.container-fluid .outer-section .left-column .image{
    margin-left: 0px;
}
.inner-column{
    text-align: center;
}
.container-fluid{
    padding: 35px 0px 0px;
}
.background-white{
    padding: 35px 0px 0px;
    background-color: #ffffff;
}
.background-grey{
    background-color: #f7f9fb;
}

.about_style{
    margin-top: 65px;
    width: 80% !important;
    padding-left: 0px !important;
}
.about_style p{
    text-align: justify;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 4px;
}
.about_img .left-column{
    width: 100%;
}
.about_text .right-column{
    width: 100% !important;
}
.about_img .left-column{
    width: 100% !important;
}
.features-wrapper.first-box{
    margin-top: 10px;
}
.featured-block h3{
    margin-top: 80%;
    font-size: 26px;
    font-weight: 600;
}
.btn-width{
    width: 80%;
    margin-left: 12%;
}
.special_card{
    transition: 0.3s all ease;
}
.testimonial-block .inner-box{
    margin: 10px;
    padding: 26px 4px 16px 43px;
    background-color: #ffffff;
}
.testimonial-section .testimonial-block{
    width: 90%;
}
.content-box .text{
    text-align: center;
}
.content-box h3,.designation{
    text-align: center;
}
.testimonial-block h3:before{
    left: 121px;
    width: 104px;

}
.testimonial-block h3{
    padding-top: 10px;
}
.main-header .header-top .top-outer{
    margin-left: 175px;
}
.main-header .header-top .top-left li{
    margin-right:25px ;
}
.main-header .header-top .top-left{
    margin-left: 34px;
}
.background-footer{
    background-image: linear-gradient(rgb(187, 163, 120) 0%, #b18554 100%);
    padding: 20px 0px 15px !important;
}
.footer-bottom{
    padding: 0px;
}
.footer_md4{
    display: flex;
    justify-content: center;
}
.main-header .header-top .top-outer{
    margin-left: 175px;
    }
    .main-header .header-top .top-left li{
    margin-right:25px ;
    }
    .main-header .header-top .top-left{
    margin-left: 34px;
    }
