/* Medizco Medical Center HTML Template  */
@media (max-width: 1600px){


	.container-fluid .outer-section .right-column{
		width: 50%;
	}
	.container-fluid .outer-section .left-column{
		width: 50%;
	}


}
@media only screen and (max-width: 1140px){
	.main-header .header-top .top-left{
		margin-left: 0px;
	}

	.main-header .header-upper .upper-right .info-box{
		margin-left:20px;
		padding-left:44px;
	}
	.why-choose-us-style-2 .square-tabs .nav-tabs1 .nav-item1{
       width: 21%;
       padding: 1px 9px;
	}
	/* .why-choose-us-style-2 .tab-inner, .why-choose-us-style-2 .square-tabs .nav-tabs1 {
	
	} */
	.square-tabs{
		margin: 0px 67px 0px 0px;
	}
	
	.department-form{
		margin-left:0px;
	}
	
	.banner-section-two .owl-dots{
		right:15px;
	}
	.banner-carousel .image img{
		height: 660px;
		width: 660px;
		
	}
	
	.counter-section .sec-title h2,
	.services-section-three .sec-title h2{
		font-size:40px;
	}
	
	.featured-block .inner-box h3{
		font-size:26px;
	}
	
	.booking-section .content-column .inner-column{
		padding-left:30px;
	}
	
	.fullwidth-section-two .right-column .inner-column{
		padding-left:15px;
	}
	
	.event-block-two .inner-box .content h3{
		font-size:20px;
	}
	
	.container-fluid .outer-section .left-column .inner-column:before,
	.services-form .form-group .left-curves,
	.services-form .form-group .right-curves{
		display:none;
	}
	
	.services-form .form-group:last-child{
		right:0px;
	}
	
	.services-form .submit-btn:before{
		left:0px;
		right:0px;
		-ms-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	
	.calender-block .block-outer{
		padding-bottom:30px;
	}
	
	.services-block-two .inner-box .content-box{
		padding:46px 30px;
	}
	
	.doctor-detail-section .content-column .inner-column{
		padding:0px;
	}
	
	.container-fluid .outer-section .right-column .inner-column,
	.experiance-section .featured-column .inner-column{
		padding-left:0px;
	}
	
	.department-page-section .outer-container .inner-container{
		min-width: 1120px;
	}
	
	.main-header .elementskit-navbar-nav > li{
		margin-right:22px;
	}
	.elementskit-header{
		position: fixed;
		
	}
	
	.featured-block .inner-box{
		padding-left:15px;
		padding-right:15px;
	}
	
	.featured-list .content{
		max-width:365px;
	}
	
	.banner-section-two .owl-nav{
		right:50px;
	}
	
	.services-block p{
		font-size:15px;
	}
	
	.services-block .icon-box{
		margin-right:15px;
	}
	
	.main-header .header-upper .upper-right .info-box:last-child{
		padding-left:0px;
	}
	
}


@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	

	.section-title .text br,
	.banner-carousel .image-box,
	.main-header.header-style-two .elementskit-navbar-nav > li:before,
	.main-header.header-style-three .elementskit-navbar-nav > li:before,
	.booking-section .video-column .inner-column .green-layer:before,
	.main-header.header-style-three .header-upper .upper-right .info-box .social-box,
	.main-header .header-upper .logo-outer:before,
	.main-header .outer-box .btn-box{
		display: none;
	}
	
	.main-header.header-style-two .elementskit-navbar-nav > li,
	.main-header.header-style-three .elementskit-navbar-nav > li{
		padding:0px 15px;
	}
	
	.subscribe-form{
		max-width:100%;
	}
	
	.services-form{
		padding-bottom:35px;
	}
	
	.featured-list .content{
		max-width:640px;
	}

	/* .banner-column .title{
		padding-top: 0px;
	} */
	.banner-column h2{
		font-size: 34px;
		margin-bottom: 15px;
	}
	.banner-column{
		padding: 100px 0;
	}
	.services-block-two .inner-box .content-box{
		padding:58px 30px;
	}
	
	.main-header .xs-menu-tools{
		display:none;
	}
	
	.booking-section .content-column .inner-column{
		padding-left:0px;
	}
	.booking-section{
		padding: 34px 0px 120px;
	}
	
	.quote-block .inner-box .info-column .inner-column{
		text-align:left;
		margin-top:20px;
	}
	
	.achievement-section .clients-column .inner-column .owl-nav{
		position:relative;
		left:0px;
		margin-top:30px;
	}
	
	.banner-section-two .owl-nav{
		right:30px;
	}
	
	.main-header .header-upper .upper-right .info-box .nav-box{
		margin-left:0px;
	}
	
	.main-header.header-style-three .header-upper .upper-right .info-box{
		padding-left: 46px;
		margin-right: 22px;
	}
	
	.main-header.header-style-three .header-upper .upper-right{
		width:100%;
		padding-top:0px;
		padding-bottom:30px;
	}
	
	.main-header.header-style-one .header-upper .nav-outer{
		margin-left:0px;
	}
	
	.main-header .header-top .top-outer{
		margin-left:0px;
		padding-left:0px;
	}
	.header-top {
		display: none;
	}
	.main-header .header-upper .logo-outer{
		margin-top:0px;
		width:auto;
		z-index:1;
		padding:20px 0px 20px;
		background:none;
	}
	
	.main-header .header-upper .upper-right .info-box{
		margin-left:0px;
		padding-left:42px;
		margin-right:32px;
		font-size:14px;
	}
	
	.main-header.header-style-two .header-upper .logo-outer{
		width:auto;
		z-index:1;
		padding:30px 0px 25px;
	}
	
	.sticky-header,
	.main-header .header-lower .outer-box .theme-btn{
		display:none;
	}
	
	.main-header.header-style-two .header-upper .upper-right{
		width:100%;
		padding-top:0px;
		padding-bottom:30px;
	}
	
	/* .container-fluid .outer-section .left-column{
		display:none;
	} */
	/* .about_style{
		position: absolute;
		margin-top: 0px; 
		width:0px ;
		padding-left: 0px;
	} */
	.about_style p{
		margin-top: 0px;
	}
	
	.container-fluid .outer-section .right-column{
		width:100%;
	}
	
	.container-fluid .outer-section .right-column .inner-column{
		max-width:100%;
		padding-left:15px;
	}
	
	.appointment-section .form-column{
		margin-bottom:40px;
	}
	
	.emergency-section{
		padding:100px 0px;
	}
	
	.testimonial-block .inner-box .image-box{
		right:0px;
	}
	
	.testimonial-block .inner-box .content-box{
		z-index:10;
	}
	
	
	.sec-title .text br{
		display:none;
	}
	
	.fullwidth-section-two .left-column,
	.fullwidth-section-two .right-column{
		width:100%;
	}
	
	.fullwidth-section-two .left-column .inner-column{
		max-width:100%;
	}
	
	.page-breadcrumb h2{
		font-size:30px;
	}
	
	.main-header .elementskit-navbar-nav > li{
		padding:0px;
		margin-right:0px;
	}
	
	.main-header .elementskit-navbar-nav > li > a{
		text-align:left;
	}
	
	.main-header .elementskit-navbar-nav > li{
		padding:0px;
		margin:0px;
		padding:0px 15px;
	}
	
	.main-header .header-upper .elementskit-menu-container{
		position:fixed;
		float:none;
	}
	
	.main-header .elementskit-navbar-nav > li > a{
		text-align:left;
	}
	
	/* Responsive Menu Code */
	
	.main-header .elementskit-menu-hamburger{
		position:absolute;
		right:0px;
		border-radius:0px;
		border-width:2px;
		margin-top:34px;
		border-color:#222222;
	}
	.xs-sticky-header .elementskit-menu-hamburger{
		position: static !important;
		margin-top: 0px !important;
	}
	
	.main-header .elementskit-menu-hamburger .elementskit-menu-hamburger-icon{
		height:2px;
		background-color:#222222;
	}
	.main-header .xs-bold-menu{
		background-image: -moz-linear-gradient( 135deg, rgb(26,188,156) 0%, rgb(74,144,226) 100%);
		background-image: -webkit-linear-gradient( rgb(187, 163, 120) 0%, #b18554 100%);
		background-image: -ms-linear-gradient( 135deg, rgb(26,188,156) 0%, rgb(74,144,226) 100%);
		border-radius: 5px;
		border: transparent;
		width: 90px;
		display: flex;
		position: absolute;
		right: 0;
		margin-top:25px;
		flex-direction: row;
		align-items: center;
		height: 45px;
		justify-content: center;
	}
	.main-header .xs-bold-menu .xs-gradient-group span{
		background: #fff;
		height: 2px;
		display: block;
		margin-bottom: 3px;
		width: 25px;
		margin-right: 8px;

	}
	.main-header .xs-bold-menu .xs-gradient-group span:nth-child(2){
		width: 15px;
	}

	.main-header .xs-bold-menu span{
		color: #fff;
	}
	.xs-mobile-search a {
		position: absolute;
		right: calc(90px + 15px);
		display: block;
		font-size: 20px;
		margin-top: 45px;
		background: -webkit-linear-gradient(#1DB9A0, #4d94c4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	.main-header .xs-menu-tools{
		display:none;
	}
	
	.main-header .elementskit-nav-identity-panel .elementskit-menu-close{
		border-radius:0px;
		color:#222222;
		font-size:18px;
		border-width:2px;
	}
	
	.main-header .elementskit-site-title{
		font-size:24px;
		padding-left: 16px;
		padding-top: 35px;
	}
	
	.main-header .elementskit-site-title .elementskit-nav-logo{
		color:#222222;
		font-weight:600;
	}
	
	.main-header .header-lower .outer-box{
		position:relative;
		float:left;
		z-index:10;
	}
	
	.main-header .header-lower .outer-box .cart-btn{
		margin-left:0px;
		margin-top:0px;
	}
	
	.main-header .header-lower .user-box,
	.main-header .header-lower .nav-box,
	.main-header .header-lower .search-box-outer{
		margin-top:0px;
	}
	
	.header-style-two .elementskit-menu-hamburger,
	.header-style-three .elementskit-menu-hamburger{
		border-color:#ffffff;
		margin-top:18px;
	}
	
	.main-header.header-style-two .elementskit-navbar-nav > li > a,
	.main-header.header-style-three .elementskit-navbar-nav > li > a{
		color:#222222;
	}
	
	.header-style-two .elementskit-menu-hamburger .elementskit-menu-hamburger-icon,
	.header-style-three .elementskit-menu-hamburger .elementskit-menu-hamburger-icon{
		background-color:#ffffff;
	}
	
	.video-section h2,
	.section-title h2,
	.treatment-section .title-box h2{
		font-size:38px;
	}

	.services-form .submit-btn{
		padding: 20px 10px;
	}


	.banner-carousel .image img{
		height: 400px;
		width: 400px;

	}
}


@media only screen and (max-width: 767px){


	
	.main-header .header-upper .nav-outer{
		width: 100%;
	}
	
	.section-title h2 br,
	.treatment-block .dott-one,
	.treatment-block-two .dott-one,
	.treatment-block-four .dott-one,
	.treatment-block-three .dott-one,
	.appointment-section .title-box h2 br,
	.services-form-section .image-layer{
		display:none;
	}
	
	.video-section h2,
	.booking-section .content-column h2{
		font-size:34px;
	}
	.banner-section-two .content-box h2{
		font-size: 34px;
		margin-bottom: 34px;
	}
	
	.treatment-block-four{
		margin-top:0px;
	}
	
	.event-block{
		margin-bottom:10px;
	}
	
	.gallery-section .title-box h2,
	.emergency-section .content-box h2{
		font-size:36px;
	}
	
	.services-form{
		padding:20px 0px;
	}
	
	.sec-title h2,
	.counter-section .sec-title h2, .services-section-three .sec-title h2,
	.container-fluid .outer-section .right-column h2{
		font-size:34px;
	}
	
	.counter-section .sec-title h2 br, .services-section-three .sec-title h2 br{
		display:none;
	}
	
	.services-form .form-group{
		margin:0px 0px 20px;
	}
	
	.main-header .header-upper .upper-right .info-box{
		width:100%;
		padding:0px;
		margin:0px;
		text-align:center;
		margin-bottom:15px;
	}
	
	.banner-section-two .content-box .inner-box h2{
		font-size:50px;
	}
	
	.main-header .header-upper .upper-right .info-box .icon-box{
		position:relative;
		margin-bottom:20px;
	}

	.main-header.header-style-two .main-menu{
		margin-top:0px;
	}
	
	.main-header.header-style-two .main-menu .navbar-toggler .icon,
	.main-header.header-style-three .main-menu .navbar-toggler .icon{
		color:#ffffff;
	}
	
	.main-header.header-style-two .outer-box,
	.main-header.header-style-three .outer-box{
		display:block;
	}
	
	.main-header .header-lower .outer-box .cart-btn{
		margin-left:0px;
	}
	
	.main-header .header-lower .search-box-outer .dropdown-menu{
		top:42px !important;
		left:0px;
		right:auto;
	}
	
	.main-header .main-box .logo-box{
		width: auto;
		padding: 10px 0;
	}
	
	.main-header.header-style-two .header-upper .logo-outer{
		width:100%;
		text-align:center;
	}
	
	.main-header .header-upper .logo-outer{
		width:auto;
	}
	
	.main-header .main-menu{
		padding-top: 0px;
		width: 100%;
		margin: 0px;
		margin-top:-80px;
	}

	.main-menu .navbar-header {
	    position: relative;
	    float: none;
	    display: block;
	    text-align: right;
	    width: 100%;
	    padding: 10px 0px 10px;
	    right: 0px;
	}
	
	.main-header .header-upper .logo-outer{
		padding:20px 0px 20px;
	}

	.main-header .top-right > ul > li{
		padding-left: 0;
		border-left: 0;
	}
	
	.main-header .outer-box{
		display: none;
	}

	.main-menu .collapse {
	   max-height:400px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}

	.navbar-dark .navbar-toggler{
		border:0;
		padding: 0;
	}

	.navbar-toggler .icon{
		position: relative;
		font-size: 34px;
		line-height: 1.2em;
		color: #0e4082;
	}

	.navbar-light .navbar-toggler{
		border: 0;
		padding: 0;
	}

	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size:15px !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2f6ec0;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    -moz-transform: scale(1);
	    transform: scale(1);
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:first-child,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:first-child{
		border-top:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		font-weight:500;
		font-size:15px;
		background:#2f6ec0;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff5926;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2f6ec0;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}

	.main-menu .navigation > li > ul > li > ul > li,
	.main-menu .navigation > li > ul > li{
		padding-left: 0;
		padding-right: 0;
	}

	.main-menu .navigation > li > ul > li > ul > li > a,
	.main-menu .navigation > li > ul > li > a{
		border-bottom: 0;
	}
	
	.sec-title-two h2 br,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}

	.sec-title{
		margin-bottom: 40px;
	}
	
	.main-header .header-top .top-left li{
		margin:0px 10px;
	}
	
	.header-top .top-right .nav-box,
	.header-top .top-right .cart-btn{
		display:inline-block;
		float:none;
	}
	
	.header-top .top-right,
	.main-header .header-top .top-left{
		width:100%;
		text-align:center;
	}
	
	.main-header.header-style-three .header-upper .upper-right .info-box{
		padding:0px;
		margin-left:0px;
	}
	
	.main-header.header-style-three .main-menu{
		margin-top:0px;
	}
	
	.main-header.header-style-three .header-upper .upper-right .info-box .nav-box{
		float:none;
		margin:0 auto;
	}
	
	.main-header.header-style-three .header-upper .logo-outer{
		width:100%;
		padding:35px 0px 25px;
		text-align:center;
	}
	
	.testimonial-block .inner-box .image-box{
		display:none;
	}
	
	.testimonial-block .inner-box .content-box{
		max-width:100%;
	}
	
	.subscribe-form{
		max-width:100%;
	}
	
	.footer-bottom .pull-left,
	.footer-bottom .pull-right{
		width:100%;
		text-align:center;
	}
	
	.footer-bottom .copyright{
		margin-bottom:15px;
	}
	
	.treatment-block-three .inner-box,
	.treatment-block .inner-box{
		padding-left:0px;
	}
	
	.treatment-block-three .inner-box::after,
	.treatment-block-three .inner-box::before,
	.treatment-block-two .inner-box::after,
	.treatment-block-two .inner-box::before,
	.treatment-block .inner-box::after,
	.treatment-block .inner-box::before,
	.treatment-block-four .inner-box::before,
	.treatment-block-four .inner-box::after{
		display:none;
	}
	
	.treatment-block-four .inner-box,
	.treatment-block-two .inner-box{
		padding-right:0px;
	}
	
	.treatment-block{
		margin-bottom:30px;
	}
	
	.treatment-block-four .inner-box,
	.treatment-block-two .inner-box{
		text-align:left;
	}
	
	.treatment-block-three .inner-box .text,
	.treatment-block-four .inner-box .text,
	.treatment-block .inner-box .text,
	.treatment-block-two .inner-box .text{
		max-width:100%;
	}
	
	.page-breadcrumb h2{
		font-size:28px;
	}
	
	.page-breadcrumb{
		padding:50px 0px;
	}
	
	.page-breadcrumb .image-layer,
	.page-breadcrumb .breadcrumbs .left-curves,
	.page-breadcrumb .breadcrumbs .right-curves,
	.page-breadcrumb .breadcrumbs:before{
		display:none;
	}
	
	.page-breadcrumb .breadcrumbs li a:hover,
	.page-breadcrumb .breadcrumbs li{
		color:#ffffff;
	}
	
	.page-breadcrumb .breadcrumbs{
		padding-left:0px;
		padding-right:0px;
		padding:0px;
	}
	
	.page-breadcrumb h2{
		padding:0px;
		padding-bottom:10px;
	}
	
	.page-breadcrumb .pull-right{
		width:100%;
	}
	
	.banner-content-column h2{
		font-size:42px;
	}
	
	.featured-list li .icon{
		margin-bottom:20px;
	}
	
	.section-title h2{
		font-size:36px;
	}
	
	.section-title .text{
		font-size:16px;
	}
	
	.news-block .lower-content,
	.event-block-two .inner-box,
	.event-block .inner-box{
		padding-left:25px;
		padding-right:25px;
	}
	
	.news-block h3{
		font-size:18px;
	}
	
	.banner-section-two .slide-item{
		padding:120px 0px 120px;
	}

	.footer-bottom .social-box{
		float: none;
		text-align: center;
	}
	.services-form .submit-btn{
		padding: 20px 10px;
	}

	.banner-column{
		padding: 50px 0 30px;
		text-align: center;

	}
	.banner-column .text{
		display: none;
	}
	.banner-carousel .image{
		position: static;
	}
	.banner-carousel .image img{
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: auto;
	}
	/* .main-header .header-top, .xs-mobile-hide{
		display: none;
	} */
	.quote-block .inner-box .info-column .inner-column{
		text-align: center;
	}
	.main-header .header-upper{
	    height: 82px !important;	
	}
	.xs-sticky-header .xs-onepage-logo{
		display: block;
	}
}

@media only screen and (max-width: 599px){
	
	.banner-section .banner-carousel .content-column .inner-column h2{
		font-size:42px;
	}
	
	.banner-section-three .banner-carousel .content-box .inner-box h2,
	.banner-section-two .content-box .inner-box h2{
		font-size:40px;
	}
	
	.section-title h2,
	.services-single-section .content-column .inner-column h2{
		font-size:28px;
	}
	
	.page-breadcrumb h2{
		font-size:24px;
	}
	
	
	.services-block .inner-box .content{
		padding-left:0px;
	}
	
	.services-block .inner-box .icon-box{
		position:relative;
		margin-bottom:10px;
	}
	
	.banner-section-three .banner-carousel .content-box .inner-box h2 span{
		font-size:50px;
	}
	
	.appointment-section .calender-column .inner-column{
		padding:50px 30px;
	}
	
	.video-section h2 br,
	.appointment-section .calender-column .owl-nav .owl-prev,
	.appointment-section .calender-column .owl-nav .owl-next{
		display:none;
	}
	
	.event-block .inner-box .upper-box{
		padding-left:0px;
	}
	
	.team-section .owl-dots,
	.news-section .owl-dots,
	.events-section .title-box .view-events,
	.event-block .inner-box .upper-box .event-date{
		display:none;
	}
	
	.event-block .inner-box .upper-box .image{
		position:relative;
		left:0px;
		margin-left:0px;
	}
	
	.event-block .inner-box{
		padding:35px 25px 30px;
	}
	
	.treatment-section .title-box h2,
	.fullwidth-section-two .right-column .phone strong{
		font-size:36px;
	}
	
	.contact-page-section .form-column .inner-column,
	.featured-block .inner-box{
		padding-left:15px;
		padding-right:15px;
	}
	.contact-page-section{
		padding: 1px 0px 16px;
	}
	
	.event-block-two .inner-box .content{
		padding-left:0px;
	}
	
	.event-block-two .inner-box .content .event-date{
		position:relative;
		margin-bottom:20px;
	}
	
	.experiance-section .skills-column .inner-column,
	.event-block-two .inner-box{
		padding-left:20px;
		padding-right:20px;
	}
	
	.fullwidth-section-two h2,
	.appointment-section .title-box h2{
		font-size:24px;
	}
	
	.banner-content-column .inner-column{
		padding-top:0px;
	}
	
	.banner-content-column{
		padding-bottom:100px;
	}
	
	.fullwidth-section-two .right-column .inner-column{
		padding:60px 15px 70px 10px;
	}
	
}


@media only screen and (max-width: 479px) {
	
	.banner-section-three .banner-carousel .content-box .inner-box h2,
	.banner-section .banner-carousel .content-column .inner-column h2{
		font-size:36px;
	}
	
	.subscribe-form .form-group{
		padding-right:0px;
	}
	
	.fullwidth-section-two .right-column .phone .icon-box{
		top:0px;
		float:none;
		display:block;
	}
	
	.quote-block .content-column .inner-column{
		padding-left:0px;
	}
	
	.quote-block .quote-icon{
		position:relative;
		margin-bottom:20px;
	}
	
	.services-block .inner-box .icon-box{
		float:none;
		display:block;
	}
	
	.event-block-two .event-date{
		float:none;
	}
	
	.treatment-section .title-box h2,
	.video-section h2, .booking-section .content-column h2{
		font-size:28px;
	}
	
	.page-breadcrumb{
		padding:30px 0px;
		display: none;
	}
	
	.subscribe-form .form-group input[type="submit"], .subscribe-form button{
		position:relative;
		width:100%;
		margin-top:5px;
	}
	
	.fullwidth-section-two .right-column .phone{
		font-size:18px;
	}
	
	.fullwidth-section-two .right-column .phone strong{
		font-size:26px;
	}
	
	.emergency-section .content-box .phone,
	.gallery-section .title-box h2, .emergency-section .content-box h2,
	.sec-title h2, .container-fluid .outer-section .right-column h2{
		font-size:26px;
	}
	
	.banner-section-three .banner-carousel .content-box .inner-box h2 span{
		font-size:40px;
	}
	
	.banner-section .banner-carousel .content-column .text{
		font-size:15px;
	}
	
	.footer-bottom .social-box li{
		padding-left:8px;
		padding-right:8px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		width:240px;
	}











	

/*why choose css  */
.btn-style-three333{
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 30px;
	color: black;
	padding: 7px ;
	font-weight: 500;
	overflow:hidden;
	
	background-color: white;
	text-transform: capitalize;
	box-shadow:0px 2px 15px rgba(0,0,0,0.05);
}





/*cards css--*/
.mb-30{
	margin-bottom: 30px;
}
.page-title .outer-container .image{
	margin-top: 80px;
}
 .mar_top{
	margin-top: -65px;
}
.img_left{
	margin-left: 12px;
}

}







